h1{
  font-weight: 800;
  font-size: 30px;
  margin: 20px;
  margin-bottom: 30px;
}
.Todo-container{
  width: 90%;
}
.container{
  margin-top: 10px;
  background-color: gray;
padding: 10px;
}
input{
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  outline: none;
}
.items{
  text-align: left;
}
.btn{
  margin-left: 40px;
  width: 100px;
}